<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/header.ejs", { titulo: "Clientes" })%>
	</head>
	<body class="sb-nav-fixed">
		<%- include("../partials/navbar.ejs")%>
		<div id="layoutSidenav">
			<%- include("../partials/sidebar.ejs", {rol, pagina})%>
			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid px-4">
						<h1 class="mt-4">Clientes</h1>
						<div class="row gap-3">
							<div class="col-12">
								<button
									class="btn btn-primary text-white"
									data-bs-toggle="modal"
									data-bs-target="#agregar-empleado-modal"
									data-backdrop="static"
									data-keyboard="false"
								>
									<i class="bi bi-plus-square"></i>
									Agregar cliente
								</button>
							</div>
							<div class="col-12 table-responsive">
								<table id="tabla-clientes" class="table table-striped">
									<thead>
										<tr>
											<th>Codigo</th>
											<th>DUI</th>
											<th>NIT</th>
											<th>Nombre</th>
											<th>Dirección</th>
											<th>Tipo cliente</th>
											<th>Acciones</th>
										</tr>
									</thead>
									<tbody id="tbody-clientes">
										<% clientes.forEach(function(cliente) { %>
										<tr>
											<td><%= cliente.codigo_cliente %></td>
											<td><%= cliente.dui %></td>
											<td><%= cliente.nit %></td>
											<td>
												<%= cliente.nombre + " " + cliente.apellido
												%>
											</td>
											<td><%= cliente.direccion %></td>
											<td>
												<%= cliente.tipo_cliente ? `Persona
												Juridica` : `Persona Natural`%>
											</td>
											<td>
												<button class="btn btn-warning text-white">
													<i class="bi bi-eye mostrar-balance"></i>
												</button>
											</td>
										</tr>
										<% }); %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</main>
				<%- include("../partials/footer.ejs") %> <%-
				include("../partials/scripts.ejs") %>
			</div>
		</div>
		<script src="/js/clientes.js?t=<%= Date.now() %>"></script>
	</body>
</html>
