<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/header.ejs", { titulo: "Clientes" })%>
	</head>
	<body class="sb-nav-fixed">
		<%- include("../partials/navbar.ejs")%>
		<div id="layoutSidenav">
			<%- include("../partials/sidebar.ejs", {rol, pagina})%>
			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid px-4">
						<h1 class="mt-4">Clientes</h1>
						<div class="row gap-3">
							<div class="col-12">
								<button
									class="btn btn-primary text-white"
									data-bs-toggle="modal"
									data-bs-target="#agregar-cliente-modal"
									data-backdrop="static"
									data-keyboard="false"
								>
									<i class="bi bi-plus-square"></i>
									Agregar cliente
								</button>
							</div>
							<div class="col-12 table-responsive">
								<table id="tabla-clientes" class="table table-striped">
									<thead>
										<tr>
											<th>Codigo</th>
											<th>DUI</th>
											<th>NIT</th>
											<th>Nombre</th>
											<th>Dirección</th>
											<th>Tipo cliente</th>
											<th>Acciones</th>
										</tr>
									</thead>
									<tbody id="tbody-clientes">
										<% clientes.forEach(function(cliente) { %>
										<tr>
											<td><%= cliente.codigo_cliente %></td>
											<td><%= cliente.dui %></td>
											<td style="width: 20%"><%= cliente.nit %></td>
											<td>
												<%= cliente.nombre + " " + cliente.apellido
												%>
											</td>
											<td><%= cliente.direccion %></td>
											<td>
												<%= cliente.tipo_cliente ? `Persona
												Juridica` : `Persona Natural`%>
											</td>
											<td>
												<button
													class="btn btn-info text-white"
													data-id="<%= cliente.id %>"
												>
													<i
														class="bi bi-eye mostrar-balance"
														data-id="<%= cliente.id %>"
													></i>
												</button>
												<button
													type="button"
													class="
														btn btn-warning
														text-white
														editar-empleado
													"
													data-bs-toggle="modal"
													data-bs-target="#agregar-empleado-modal"
													data-backdrop="static"
													data-keyboard="false"
													data-id="<%= cliente.id %>"
												>
													<i
														data-id="<%= cliente.id %>"
														class="
															bi bi-pencil-square
															editar-empleado
														"
													></i>
												</button>
											</td>
										</tr>
										<% }); %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</main>
				<%- include("../modales/agregar-cliente.ejs", {municipios,
				departamentos}) %> <%- include("../partials/footer.ejs") %> <%-
				include("../partials/scripts.ejs") %>
			</div>
		</div>
		<script src="/js/clientes.js?t=<%= Date.now() %>"></script>
	</body>
</html>
