<!DOCTYPE html>
<html lang="en">

<head>
	<%- include("partials/header.ejs", { titulo: "Inicio" })%>
		<style>
			* {
				/*	margin: 0;
			padding: 0; */
				box-sizing: border-box;
			}


			body {
				background-image: url(/fondo01.png);
				background-size: cover;
				color: #fff;
				font-size: 16px;
				/*	display: -webkit-box;
			display: -ms-flexbox;
			display: flex;*/
				height: 100vh;
			}

			.wrap {
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-ms-grid-row-align: center;
				align-items: center;
				margin: auto;
				width: 80%;
			}

			.widget {
				width: 50%;
				/*    margin: 2em;*/
				margin: 2em auto;
			}

			.widget p {
				display: inline-block;
				line-height: 1em;

			}

			.fecha {
				font-family: 'Oswald', sans-serif;
				font-size: 2em;
				text-align: center;
				margin-bottom: 0.3rem;
				padding: 1em;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.5);

			}

			.reloj {
				font-family: 'Oswald', sans-serif;
				font-size: 4em;
				text-align: center;
				margin-bottom: 0.3rem;
				padding: 1em;
				width: 100%;
				background-color: rgba(0, 0, 0, 0.5);

			}

			.caja-segundos {
				display: inline-block;
			}

			.caja-segundos .segundos,
			.caja-segundos .ampm {
				font-size: 2rem;
				display: block;
			}
		</style>
</head>

<body class="sb-nav-fixed">
	<%- include("partials/navbar.ejs")%>
		<div id="layoutSidenav">
			<%- include("partials/sidebar.ejs", {rol, pagina})%>
				<div id="layoutSidenav_content">
					<main>
						<div class="container-fluid px-4">

							<div class="row">
								<div class="col-12">
									<div class="wrap">
										<div class="widget">
											<div class="fecha">
												<p id="diaSemana" class="diaSemana"></p>
												<p id="dia" class="dia"></p>
												<p>de</p>
												<p id="mes" class="mes"></p>
												<p>del</p>
												<p id="year" class="year"></p>
											</div>
											<!----------------------------------------->
											<div class="reloj">
												<p id="hora" class="hora"></p>
												<p>:</p>
												<p id="minutos" class="minutos"></p>
												<p>:</p>
												<div class="caja-segundos">
													<p id="ampm" class="ampm"></p>
													<p id="segundos" class="segundos"></p>
												</div>

											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</main>
					<%- include("./partials/footer.ejs") %>
				</div>
		</div>
		<%- include("partials/scripts.ejs")%>
			<script>var actualizarHora = function () {

					var fecha = new Date(),
						horas = fecha.getHours(),
						minutos = fecha.getMinutes(),
						amPm,
						segundos = fecha.getSeconds(),
						diaDeSemana = fecha.getDay(),
						dia = fecha.getDate(),
						mes = fecha.getMonth(),
						anio = fecha.getFullYear();

					var NombreDeSemana = ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'];
					var NombreDeMes = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Setiembre', 'Octubre', 'Noviembre', 'Diciembre'];

					var pHoras = document.getElementById("hora"),
						pMinutos = document.getElementById("minutos"),
						pAmPm = document.getElementById("ampm"),
						pSegundos = document.getElementById("segundos"),
						pDiaDeSemana = document.getElementById("diaSemana"),
						pDia = document.getElementById("dia"),
						pMes = document.getElementById("mes"),
						pAnio = document.getElementById("year");

					if (horas > 12) {
						amPm = "PM";
					} else {
						amPm = "AM";
					}

					if (minutos < 10) {
						minutos = "0" + minutos;
					}
					if (segundos < 10) {
						segundos = "0" + segundos;
					}

					horas = (horas+24)%12 || 12;
					pHoras.textContent = horas,
						pMinutos.textContent = minutos,
						pSegundos.textContent = segundos,
						pAmPm.textContent = amPm,
						pDiaDeSemana.textContent = NombreDeSemana[diaDeSemana],
						pDia.textContent = dia,
						pMes.textContent = NombreDeMes[mes],
						pAnio.textContent = anio;


				}

				actualizarHora();
				setInterval(actualizarHora, 1000);
			</script>
</body>

</html>