<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/header.ejs", { titulo: "Prestamo" })%>
	</head>
	<body class="sb-nav-fixed">
		<%- include("../partials/navbar.ejs")%>
		<div id="layoutSidenav">
			<%- include("../partials/sidebar.ejs", {rol, pagina})%>
			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid px-4">
						<div class="container-fluid">
							<a
								type="button"
								class="btn btn-light m-2"
								href="/carteraemp"
								><i class="bi bi-arrow-left-square"></i
							></a>
							<label class="h2 mt-4 mb-0">Detalle de prestamo</label>
							<button
								type="button"
								class="btn btn-warning"
								data-bs-toggle="modal"
								data-bs-target="#agregar-modal"
								data-backdrop="static"
								data-keyboard="false"
							>
								<i class="bi bi-cash-coin"></i>Registrar pago
							</button>
						</div>
						<hr />
						<div class="row gap-3">
							<div class="col-12">
								<div class="row">
									<div class="col-12 col-md-6 mb-3">
										<label for="pcliente" class="form-label"
											>Cliente</label
										>
										<input
											type="text"
											class="form-control bg-white"
											id="pcliente"
											name="pcliente"
											value="<%= `${ (!pago.prestamo)? pago.cartera.cliente['nombre']+' '+pago.cartera.cliente['apellido'] : pago.prestamo.cartera.cliente['nombre']+' '+pago.prestamo.cartera.cliente['apellido'] } ` %>"
											disabled
										/>
										<input
											type="hidden"
											class="form-control bg-white"
											id="idprestamo"
											name="pcliente"
											value="<%= `${ (!pago.prestamo)? pago.id : pago.prestamo.id} ` %>"
										/>
										<input
											type="hidden"
											class="form-control bg-white"
											id="idempleado"
											name="pcliente"
											value="<%= `${ (!pago.prestamo)? pago.cartera.empleado_fk : pago.prestamo.cartera.empleado_fk} ` %>"
										/>
									</div>
									<div class="col-12 col-md-3 mb-3">
										<label for="montoprestamo" class="form-label"
											>Monto del prestamo</label
										>
										<input
											type="text"
											class="form-control bg-white"
											id="montoprestamo"
											name="montoprestamo"
											value="<%= `${ (!pago.prestamo)? pago.monto: pago.prestamo['monto'] } ` %>"
											disabled
										/>
									</div>
									<div class="col-12 col-md-3 mb-3">
										<label for="montofin" class="form-label"
											>Monto al finalizar</label
										>
										<input
											type="text"
											class="form-control bg-white"
											id="montofin"
											name="montofin"
											value="<%= `${ (!pago.prestamo)? pago.valor_total: pago.prestamo['valor_total'] } ` %>"
											disabled
										/>
									</div>
								</div>
								<div class="row">
									<div class="col-12 col-md-3 mb-3">
										<div class="row">
											<div class="col-6 col-md-6 mb-3">
												<label for="tasainteres" class="form-label"
													>Tasa de interes
												</label>
												<input
													type="tel"
													class="form-control bg-white"
													id="tasainteres"
													name="tasainteres"
													value="<%= `${(pago.tasa_interes_fk == 1) ? 9+'%' : 5+'%'}  ` %>"
													disabled
												/>
											</div>
											<div class="col-6 col-md-6 mb-3">
												<label for="interesacum" class="form-label"
													>Interes acumulado
												</label>
												<input
													type="text"
													class="form-control bg-white"
													id="interesacum"
													name="interesacum"
													disabled
												/>
											</div>
										</div>
									</div>
									<div class="col-12 col-md-3 mb-3">
										<label for="diapago" class="form-label"
											>Duracion del credito</label
										>
										<input
											type="text"
											class="form-control bg-white"
											id="usuario"
											name="usuario"
											value="<%= `${ (!pago.prestamo)? pago.duracion: pago.prestamo['duracion'] } ` %>"
											disabled
										/>
									</div>

									<div class="col-12 col-md-3 mb-3">
										<label for="fechaapro" class="form-label"
											>Fecha de aprobacion</label
										>
										<input
											type="text"
											class="form-control bg-white"
											id="fechaapro"
											name="fechaapro"
											value="<%= `${ (!pago.prestamo)? pago.fecha_aprobacion: pago.prestamo['fecha_aprobacion'] } ` %>"
											disabled
										/>
										<input
											type="hidden"
											class="form-control bg-white"
											id="fechaacum"
											name="fechaacum"
											value="<%= `${ (!pago.prestamo)? pago.fecha_aprobacion: pago.prestamo['fecha_aprobacion'] } ` %>"
											disabled
										/>
									</div>
									<div class="col-12 col-md-3 mb-3">
										<label for="valorcuota" class="form-label"
											>Valor de la cuota</label
										>
										<input
											type="text"
											class="form-control bg-white"
											id="valorcuota"
											name="valorcuota"
											value="<%= `${ (!pago.prestamo)? pago.valor_cuota: pago.prestamo['valor_cuota'] } ` %>"
											disabled
										/>
									</div>
								</div>
							</div>
							<div class="col-12 table-responsive">
								<table
									id="tabla-pagoprestamo"
									class="table table-striped"
								>
									<thead>
										<tr>
											<th>Fecha de vencimiento</th>
											<th>Fecha de pago</th>
											<th>Saldo anterior</th>
											<th>Capital</th>
											<th>Intereses</th>
											<th>Mora</th>
											<th>Saldo actual</th>
										</tr>
									</thead>
									<tbody id="tbody-pagoprestamo"></tbody>
								</table>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
		<%- include("../modales/agregar-pago.ejs")%>
		<%-include("../partials/scripts.ejs")%>
		<script src="/js/pagoprestamo.js?t=<%= Date.now() %>"></script>
	</body>
</html>
