<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include("../partials/header.ejs", { titulo: "Prestamo" })%>
	</head>
	<body class="sb-nav-fixed">
		<%- include("../partials/navbar.ejs")%>
		<div id="layoutSidenav">
			<%- include("../partials/sidebar.ejs", {rol, pagina})%>
			<div id="layoutSidenav_content">
				<main>
					<div class="container-fluid px-4">
						<a href="/carteraemp">Regresar</a>
						<h1 class="mt-4">Prestamo</h1>
						<h1 class="mt-4"></h1>
						<div class="row gap-3">
							<div class="col-12">
								<div class="row">
									<div class="col-12 col-md-6 mb-3">
										<label for="pcliente" class="form-label"
											>Cliente</label
										>
										<input
											type="text"
											class="form-control"
											id="pcliente"
											name="pcliente"
											value="<%= `${ (!pago.prestamo)? pago.cartera.cliente['nombre']: pago.prestamo.cartera.cliente['nombre'] } ` %>"
										/>
									</div>
									<div class="col-12 col-md-6 mb-3">
										<label for="nombre" class="form-label"
											>Monto del prestamo</label
										>
										<input
											type="text"
											class="form-control"
											id="nombre"
											name="nombre"
											value="<%= `${ (!pago.prestamo)? pago.monto: pago.prestamo['monto'] } ` %>"
										/>
									</div>
								</div>
								<div class="row">
									<div class="col-12 col-md-3 mb-3">
										<label for="telefono" class="form-label"
											>Interes</label
										>
										<input
											type="tel"
											class="form-control"
											id="telefono"
											name="telefono"
										/>
									</div>
									<div class="col-12 col-md-3 mb-3">
										<label for="correo" class="form-label"
											>Dia de pago</label
										>
										<input
											type="text"
											class="form-control"
											id="correo"
											name="correo"
											value="<%= `${ (!pago.prestamo)? pago.dia_pago: pago.prestamo['dia_pago'] } ` %>"
										/>
									</div>

									<div class="col-12 col-md-3 mb-3">
										<label for="usuario" class="form-label"
											>Duración del credito</label
										>
										<input
											type="text"
											class="form-control"
											id="usuario"
											name="usuario"
											value="<%= `${ (!pago.prestamo)? pago.duracion: pago.prestamo['duracion'] } ` %>"
										/>
									</div>
									<div class="col-12 col-md-3 mb-3">
										<label for="clave" class="form-label"
											>Valor de la cuota</label
										>
										<input
											type="text"
											class="form-control"
											id="clave"
											name="clave"
											value="<%= `${ (!pago.prestamo)? pago.valor_cuota: pago.prestamo['valor_cuota'] } ` %>"
										/>
									</div>
								</div>
							</div>
							<div class="col-12 table-responsive">
								<table
									id="tabla-pagoprestamo"
									class="table table-striped"
								>
									<thead>
										<tr>
											<th>Fecha de pago</th>
											<th>Saldo anterior</th>
											<th>Capital</th>
											<th>Intereses</th>
											<th>Mora</th>
											<th>Saldo actual</th>

											<th>Acciones</th>
										</tr>
									</thead>
									<tbody id="tbody-pagoprestamo">
										<tr>
											<td><%= `${pago.monto_cuota}` %></td>
											<td><%= `${pago.monto_cuota}` %></td>
											<td><%= `${pago.monto_cuota}` %></td>
											<td><%= `${pago.monto_cuota}` %></td>
											<td><%= `${pago.monto_cuota}` %></td>
											<td><%= `${pago.monto_cuota}` %></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>

		<script src="/js/pagoprestamo.js?t=<%= Date.now() %>"></script>
	</body>
</html>
